{%- unless page.url == '/' -%}
<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item"><span itemprop="name">Home</span></a>
      <meta itemprop="position" content="1" />
    </li>

    {%- assign crumbs = page.url | split: '/' -%}
    {%- assign crumb_path = '' -%}
    {%- assign position = 1 -%}

    {%- for crumb in crumbs -%}
      {%- unless crumb == '' -%}
        {%- assign crumb_path = crumb_path | append: '/' | append: crumb -%}
        {%- assign position = position | plus: 1 -%}

        {%- if forloop.last -%}
        <li class="current" aria-current="page">{{ page.title | escape }}</li>
        {%- else -%}
          {%- assign words = crumb | replace: '-', ' ' | split: ' ' -%}
          {%- assign label = '' -%}
          {%- for word in words -%}
            {%- assign label = label | append: word | capitalize | append: ' ' -%}
          {%- endfor -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ crumb_path | append: '/' | relative_url }}" itemprop="item"><span itemprop="name">{{ label | strip }}</span></a>
          <meta itemprop="position" content="{{ position }}" />
        </li>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
  </ol>
</nav>
{%- endunless -%}
